*{
    margin: 5px;
    font-family: cursive;
}
#God{
    border: 4px solid red;
    margin: 5px;
    padding: 10px;
}
#cv{
    height: 10%;
    width: 100%;
    color: black;
    text-align: center;
    font-size: 60px;
}
#bod{
    height: 300px;
    width: 100%;
}
#details{
    font-size: 30px;
    font-family: cursive;
    float: left;
}
#photo{
float: right;
height: 20%;
width: 15%;
margin-right: 10%;
margin-top: 2%;
}
#pic{
    width: 80%;
}
#aim{
    font-size: 30px;
}
#tab{
    height: 30%;
    width: 100%;
    font-size: 20px;
}
table,th,td{
    border: 1px solid black;
}
#head{
    font-size: 35px;
}
#tab1{
    height: 20%;
    width: 100%;
    font-size: 20px;
}
#pro_desc{
    font-size: 30px;
}
#computer{
    font-size: 30px;
}
#personal{
    font-size: 25px;
}
#tab2{
    height: 20%;
    width: 100%;
    font-size: 20px;
}
#skills{
    font-size: 25px;
}
#hob{
    font-size: 25px;
}
#declaration{
    font-size: 25px;
}
#sign{
    height: 100%;
    width: 16%;
}
#name{
    font-size: 28px;
}
#out{
    display: flex;
}
#prog{
    width: 75%;
}
#progressbar{
    height: 31px;
    width: 75%;
}
#list{
    list-style: none;
}